* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 38%, 92%);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.container {
  width: 375px;
}

.img {
  margin-top: 30px;
  max-width: 100%;
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.content {
  padding: 20px;
  background-color: hsl(0, 0%, 100%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 20px;
}

.perfume {
  color: hsl(228, 12%, 48%);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 15px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 10px;
}

.title {
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  line-height: 1;
  padding-bottom: 25px;
}

.description {
  font-family: "Montserrat", sans-serif;
  color: hsl(228, 12%, 48%);
  font-weight: 500;
}

.pricing {
  display: flex;
  padding-bottom: 30px;
}

.big {
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  font-size: 30px;
  padding-right: 20px;
  color: hsl(158, 36%, 37%);
}

.sub {
  text-decoration: line-through;
  font-family: "Montserrat", sans-serif;
  align-self: center;
  color: hsl(228, 12%, 48%);
}

.button {
  display: flex;
  background-color: hsl(158, 36%, 37%);
  border: none;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 10px;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  font-family: "Montserrat";
}

.button:hover {
  background-color: hsl(158, 36%, 17%);
}

@media screen and (min-width: 768px) {
  .container {
    width: 600px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }
  .img {
    content: url(./images/image-product-desktop.jpg);
    margin-top: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
    object-fit: cover;
    flex: 1 0 50%;
  }
  .content {
    flex: 1 0 50%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 0;
    padding: 30px;
    margin-bottom: 0;
    /* height: 100vh; */
  }
  .description {
    padding-bottom: 20px;
  }
  .perfume {
    padding-bottom: 18px;
  }
}
